body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0a0f1a, #1e2c3a);
  color: #fff;
  margin: 0;
  padding: 20px;
  width: 300px;
}

.container {
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #1b2a3a;
  color: #fff;
}

button {
  background-color: #15a76c;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0f8c5a;
}

#resultBox {
  margin-top: 15px;
  font-size: 15px;
}
