body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 20px;
  width: 100%;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #f0f0f0;
}

input {
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  background-color: #15A76C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #119c63;
}

#resultBox {
  margin-top: 15px;
  font-size: 14px;
}
